.Crew {
    height: 100vh;
    background-image: url('assets/crew/background-crew-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
}

.navbar_container {

    height: 3.125rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

}

.burger_menu {
    display: none;

}


.main_content {
    width: 100vw;
    height: 90vh;
}

.logo {
    margin-top: 3.125rem;
    padding-left: 1.875rem;
}

.linie {
    width: 31.25rem;
    height: 1.875rem;
    max-width: 37.5rem;
    margin-left: 12.5rem;
    margin-top: 3.125rem;
    z-index: 2;
}

.linie hr {
    margin-left: 1.875rem;
    overflow: visible;
    width: 31.25rem;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;

}

.meniu {
    z-index: 1;
    margin-top: 2%;
    height: 5rem;
    float: right;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);

}

.meniu li {
    float: left;
    margin-left: 11.875rem;
}

.meniu ul {
    margin-top: 1.5%;
    list-style: none;

}

.meniu a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 25px;
}

.meniu div:hover {

    height: 1.5625rem;
    border-bottom: 1px solid orange;
}


.layout2 {
    margin-top: 3%;
    display: flex;

}

.layout2 span {
    color: #ffffff;
    opacity: 0.25;
}

.left {
    width: 18.75rem;
    margin-left: 18.75rem;
    display: flex;
    margin-top: 12%;
    height: 24.75rem;
    flex: shrink 0;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    display: flex;

}

.right {
    width: 37.5rem;
    height: 39.375rem;
    margin-left: 20%;

}

.photo2 {
    background-image: url('assets/crew/image-douglas-hurley.png');
    background-repeat: no-repeat;
    margin-top: 1%;
    margin-left: 30rem;
    width: 35.504rem;
    height: 44.5rem;
    flex-shrink: 0;
}

.photo3 {
    background-image: url('assets/crew/image-mark-shuttleworth.webp');
    background-repeat: no-repeat;
    margin-top: 8.125rem;
    margin-left: 30rem;
    width: 35.5045rem;
    height: 44.5rem;
    flex-shrink: 0;
}

.photo4 {
    background-image: url('assets/crew/image-victor-glover.webp');
    background-repeat: no-repeat;
    margin-top: 8.125rem;
    margin-left: 30rem;
    width: 35.5045rem;
    height: 44.5rem;
    flex-shrink: 0;
}

.photo5 {
    background-image: url('assets/crew/image-anousheh-ansari.webp');
    background-repeat: no-repeat;
    margin-top: 8.125rem;
    margin-left: 30rem;
    width: 34.5rem;
    height: 53.625rem;
    flex-shrink: 0;
}


.p1 {
    margin: 4%;
    color: #FFF;
    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0.5042;
}

.p2 {
    margin: 5%;
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.p3 {
    margin: 3%;
    width: 26.25rem;
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;

}

.p4 {
    color: #FFF;
    font-family: Bellefair;
    font-size: 56px;
    width: 50rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}

.p0 {
    margin-top: 5%;
    margin-left: 15%;
    color: #FFF;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
    text-transform: uppercase;
}


.nav2 {
    margin-top: 50px;

}

.button a {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    text-indent: -43.75rem;
    color: white;

}

.button li {
    display: inline-block;
    height: 0.9375rem;
    width: 0.9375rem;
    margin-top: 1%;
    margin-left: 0.9375rem;
    background-color: #646464;
    border: none;
    border-radius: 50%;
    text-decoration: #646464;

}

.button li:hover {
    background-color: white;
}

.button {
    padding: 0.625rem;
}


@media screen and (max-width: 900px) {


    .Crew {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-image: url('assets/crew/background-crew-tablet.jpg');
        background-size: cover;
        height: auto;
    }

    .linie {
        display: none;
    }

    .meniu b {
        display: none;

    }

    .layout2 {
        width: 900px;
        flex-direction: column;
        display: flex;
    }



    .meniu a {
        font-size: 15px;
    }

    .meniu {
        margin-top: 3%;
        margin-left: 20%;
        width: 68.5%;

    }

    .meniu li {
        margin-left: 3.1rem;
        margin-top: 1.56rem;
    }


    .navbar_container {
        justify-content: flex-start;
        width: 100vw;

    }

    .logo {
        margin-left: 0%;
        margin-top: 5%;
    }

    .burger_menu {

        display: none;

    }

    .p0 {
        padding-top: 6%;
        text-align: start;
        text-transform: uppercase;
        margin-left: 5%;
        color: #FFF;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.375px;
    }

    .p1 {
        margin-top: 0;
        margin-left: 82%;
        color: #FFF;
        text-align: start;
        font-family: Bellefair;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

    }

    .p2 {
        margin-left: 65%;
        width: 21.87rem;
        color: #FFF;
        justify-content: center;
        flex-wrap: nowrap;
        font-family: Bellefair;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    .p3 {
        display: flex;
        margin-left: 55%;
        width: 22.5rem;
        color: #D0D6F9;
        flex-wrap: nowrap;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 150;
        line-height: 20px;
    }

    .right {

        display: flex;
        width: 446px;
        margin: 0;
        height: auto;


    }

    .left {
        margin-top: 0;
        margin-left: 1%;
        display: flex;
        width: 100%;
        height: auto;

    }

    .button {

        margin-left: 280px;

    }


    .photo2 {
        display: flex;
        margin-left: 65%;
        height: 300px;
        background-size: 50%;
        width: 456px;
        margin-bottom: 0;
    
    

    }
    span {
        color: #646464;
    }



}

@media screen and (max-width :375px) {
    .Crew {

        box-sizing: border-box;
        background-image: url('assets/crew/background-crew-mobile.jpg');
        background-size: cover;
        height: auto;
    }
    .main {
        
        width: 375px;
        height: auto;
    }

    .navbar_container {
        display: flex;

    }

    .logo {
        margin: 10px 0 0 0px;
        padding: 3%;
    }

    .meniu {
        width: 100px;
        display: none;
    }

    .burger_menu {
        display: block;
        margin-left: 60%;
    }

    .liniuta {
        display: flex;
        background-color: #FFF;
        margin-top: 5%;
        margin: 10px 25px 0 0;
        width: 30px;
        height: 3px;
        color: #ffffff;
        gap: 5%;
    }

    .photo2 {

        margin-top: 1%;
        margin-left: 48%;
        display: flex;
        width: 250px;
    
    }

    .right {
        width: 250px;
    }

    .left {

        display: flex;
        margin-left: 10px;
        margin-top: 0;

    }

    .layout2 {
        width: 200px;
        display: flex;
        flex-direction: column-reverse;
    }

    .p0 {
        margin-left: 25%;
        color: #FFF;
        font-family: Barlow Condensed;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2.7px;
        text-transform: uppercase;
        
    }

    .p1 {
        font-size: 15px;
        margin-left: 4%;
        padding-left: 100px;
    }

    .p2 {
        font-size: 20px;
        margin-top: 5px;
        margin-left: 0px;
        color: #FFF;
text-align: center;
font-family: Bellefair;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;

    }

    .p3 {
        width: 300px;
        font-size: 15px;
        margin-top: 10px;
        margin-left: 20px;
    }

    .button {
        display: flex;
        margin-top: 1px;
        padding-top: 1px;
        margin-left: 90px;
    

    }

    .nav2 {
        display: flex;
        order: 1;
        margin-top: 0px;
    }

    .text_paragraf {
        order: 2;
        margin-top: 0;
        margin-left: 0;

    }

}
