body {
    height: 100vh;
    background-image: url('home/background-home-desktop.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;  
}
body.moon {
    background-image: url('destination/background-destination-desktop.jpg');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.main {
    display: flex;
    flex-direction: column;
    
}

.navbar_container {
    
    height: 50px;
    
    display: flex;
    align-items: center;
    flex-direction: row;

}

.main_content {
    width: 100vw;
    height: 90vh;



}
.logo{
    margin-top: 50px;
    padding-left: 30px;
}



.stg {
    width: 50%;
    height: 200px;
    margin-left: 100px;

}

.stg .text1 {
    
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}

.stg .text2 {
    margin-top: 10px;
    margin: left 50px;
    color: #FFF;
    font-family: Bellefair;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stg .text3 {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 380px;
    letter-spacing: 1px;
    word-spacing: 1px;;
}

.dr {

    margin-top: 200px;
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    border-radius: 274px;
    background: #FFF;
    color: #0B0D17;
    margin-left: 150px;

    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    justify-content: center;


}

.linie {
    width: 500px;
    height: 30px;
    /* background-color:beige; */
    max-width: 600px;
    margin-left: 200px;
    margin-top: 50px;
    z-index: 2;
}

.linie hr {
    margin-left: 30px;
    overflow: visible;
    width: 500px;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;
}

.meniu {
    z-index: 1;
    margin-top: 50px;
    height: 80px;
    float: right;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    padding-right: 5px;


    
}

.meniu li {
    float: left;
     margin-left: 199px;
    

}

.meniu ul {
    margin-top: 15px;
    list-style: none;
    
    

}

.meniu a {
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 25px;
    
    
    
}

.meniu div:hover {

    height: 25px;
    border-bottom: 1px solid orange;
}
.meniu1{ 
    z-index: 1;
    margin-top: 50px;
    height: 80px;
    float: right;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    padding-right: 25px;
}
.meniu1 li {
    float: left;
     margin-left: 194px;
}

.meniu1 ul {
    margin-top: 15px;
    list-style: none;
}

.meniu1 a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family:  Barlow Condensed;
    
}

.meniu1 div:hover {

    height: 25px;
    border-bottom: 1px solid orange;
}

.mybutton {

    color: aliceblue;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.page1 {
    margin-top: 200px;
    display: flex;

}

.layout1 {
    margin-top: 250px;
    display: flex;

}

div.layout1 .left {
    /* background-color: red;  */
    width: 700px;
    height: 700px;
    flex-shrink: 0;
}
div.right{
    margin-top: 200px;
    width: 445px;
    height: 472px;
    flex-shrink: 0;
    float: right;
    background-color: aqua;
    margin-left: 963px; 
}
.layout1 h1{         
 
 color: #FFF;
 font-family: Barlow Condensed;
 font-size: 25px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 letter-spacing: 4.725px;
 text-transform: uppercase;
 display: flex;
 margin-left: 60px;
 margin-top: 30px;
 
}

.destination ul {
     padding-left: 892px;
     margin: top 10px;
     width: 445px;
     height: 472px;
     flex-shrink: 0;
     width: 285.5px;
     height: 34px;
    list-style: none
}
.destination li{
    color: white;
}

.layout2 {
    margin-top: 250px;
    display: flex;

}

div.layout2 .left {
    /* background-color: black; */
    width: 300px;
}

div.layout2 .right {
    /* background-color: blue; */
    width: 500px;
}

.div {
    /* color: red; */
    background-color:green;
}

.nav2 a {
    text-decoration: none;
}

.nav2 button {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    margin-left: 15px;
    background-color: #646464;
    border: none;
    border-radius: 50%;
}

.nav2 button.select {
    background-color: white;
}
.photo1 {
    background-image: url('destination/image-moon.webp');
    background-repeat: no-repeat;
    width: 450px;
    height: 450px;
    /* flex-shrink: 0; */
    margin-top: 130px;
    margin-left: 171px;

}