body {
    height: 100vh;
    background-image: url('home/background-home-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: aquamarine; */
    /* background-image: url('assets/home/background-home-desktop.jpg'); */
}

.main {
    display: flex;
    /* width: 100vw;
                        height: 100vh; */
    flex-direction: column;
    /* margin-left: 48px; */
}

.navbar_container {
    /* width: 100vw; */
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-direction: row;

}

.main_content {
    width: 100vw;
    height: 90vh;
    /* background-color: bisque; */


}
.logo{
    margin-top: 50px;
    padding-left: 30px;
}



.stg {
    width: 50%;
    height: 200px;
    margin-left: 100px;
    /* background-color: blueviolet; */
}

.stg,
.stg .text1 {
    
    color: #D0D6F9;
    font-family: Barlow Condensed;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.725px;
}

.stg .text2 {
    margin-top: 10px;
    margin: left 50px;
    ;
    color: #FFF;
    font-family: Bellefair;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.stg .text3 {
    color: #D0D6F9;
    font-family: Barlow;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 380px;
    letter-spacing: 1px;
    word-spacing: 1px;;
}

.dr {

    margin-top: 200px;
    width: 274px;
    height: 274px;
    flex-shrink: 0;
    border-radius: 274px;
    background: #FFF;
    color: #0B0D17;
    margin-left: 150px;

    font-family: Bellefair;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    justify-content: center;


}

.linie {
    width: 500px;
    height: 30px;
    /* background-color:beige; */
    max-width: 600px;
    margin-left: 200px;
    margin-top: 50px;
    z-index: 2;
}

.linie hr {
    margin-left: 30px;
    overflow: visible;
    width: 500px;
    height: 1px;
    opacity: 0.2515;
    background: #FFF;
}

.meniu {
    z-index: 1;
    margin-top: 50px;
    height: 80px;
    float: right;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    padding-right: 25px;
    
}

.meniu li {
    float: left;
     margin-left: 105px;
    

}

.meniu ul {
    margin-top: 15px;
    list-style: none;
    


}

.meniu a {
    color: black;
    text-decoration: none;
}

.meniu div:hover {

    height: 25px;
    border-bottom: 1px solid orange;
}

.mybutton {

    color: aliceblue;
    width: 274px;
    height: 274px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.page1 {
    margin-top: 200px;
    display: flex;

}

.layout1 {
    margin-top: 250px;
    display: flex;

}

div.layout1 .left {
    background-color: red;
    width: 200px;
}

div.layout1 .right {
    background-color: blue;
    width: 500px;

}

.layout2 {
    margin-top: 250px;
    display: flex;

}

div.layout2 .left {
    background-color: black;
    width: 300px;
}

div.layout2 .right {
    background-color: blue;
    width: 500px;
}

.div {
    color: red;
    background-color: #0B0D17;
}

.nav2 a {
    text-decoration: none;
}

.nav2 button {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-top: 2px;
    margin-left: 15px;
    background-color: #646464;
    border: none;
    border-radius: 50%;
}

.nav2 button.select {
    background-color: white;
}